/* 基础设置 */
.container {
    width: 1190px;
    /* 让版心居中 */
    margin: 0 auto;
}

/* 顶部导航条start */
.topbar {
    height: 30px;
    background-color: #ececec;
    line-height: 30px;
}

.welcome {
    font-size: 0;
    color: #666;
}

.welcome span,
.welcome a {
    font-size: 12px;
}

.welcome .hello {
    margin-right: 28px;
}

.welcome .login {
    padding-right: 10px;
    border-right: 1px #666 solid;
}

.welcome .register {
    padding-left: 10px;

}

.topbar-nav li {
    float: left;
    
}

.topbar-nav li a {
    border-right: 1px solid #666;
    padding: 0 15px;
}
.topbar-nav li:first-child a{
    padding-left: 0;
}
.topbar-nav li:last-child a{
    padding-right: 0;
    border-right: 0;
}

/* 顶部导航条end */