/* 基础设置 */
.container {
    width: 1190px;
    /* 让版心居中 */
    margin: 0 auto;
}

/* #region顶部导航条start */
.topbar {
    height: 30px;
    background-color: #ececec;
    line-height: 30px;
}

.welcome {
    font-size: 0;
    color: #666;
}

.welcome span,
.welcome a {
    font-size: 12px;
}

.welcome .hello {
    margin-right: 28px;
}

.welcome .login {
    padding-right: 10px;
    border-right: 1px #666 solid;
}

.welcome .register {
    padding-left: 10px;

}

.topbar-nav li {
    float: left;
    
}

.topbar-nav li a {
    border-right: 1px solid #666;
    padding: 0 15px;
}
.topbar-nav li:first-child a{
    padding-left: 0;
}
.topbar-nav li:last-child a{
    padding-right: 0;
    border-right: 0;
}

/* #endregion顶部导航条end */

/* #region头部start */
.header {
    /* background-color: skyblue; */
}
.header .search form {
    margin-top: 42px;
    font-size: 0;
}
.header .search input {
    width: 508px;
    height: 34px;
    border: 1px solid #DD302D ;
}
.header .search button {
    width: 80px;
    height: 36px;
    background-color: #DD302D;
    vertical-align: top;
}
/* #endregion头部end */


/* #region主导航start */
.main-nav {
    height: 48px;
    border-bottom: #DD302D 1px solid;

}
.main-nav .all-types {
    width: 190px;
    height: 48px;
    background-color: #DD302D;
    color: white;
    text-align: center;
    line-height: 48px;
    font-size: 16px;
}
.main-nav-list {
    height: 48px;
    line-height: 48px;
}
.main-nav-list li {
    float: left;
    font-size: 16px;
    margin: 0 10px;
}


/* #endregion主导航end */

